@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

.responsive-container {
  display: flex;
  flex: 1 0 auto;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}